<!DOCTYPE html>
<html>
  <head>
    <title>Scanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/svg" href="/assets/icon.svg">
    <link rel="stylesheet" href="/assets/webcam.css">
    <script defer src="/assets/webcam.js"></script>
  </head>
  <body>
    <!-- (A) VIDEO LIVE FEED -->
    <video id="cam-live" autoplay></video>

    <!-- (B) CONTROLS -->
    <div class="controls">
      {{if .Download}}
        <a href="/documents/"><img class="button" src="/assets/list.svg"/></a>
        <img class="button" onclick="webcam.flip()" src="/assets/flip.svg"/>
      {{end}}
      <img class="button" onclick="webcam.upload()" src="/assets/photo.svg"/>
      <a href="/logout"><img class="button" src="/assets/cancel.svg"/></a>
    </div>

    <div class="dialog" id="upload">
        <img class="dialog" src="/assets/waiting.svg"/>
        <p>Warte auf übertragung...</p>
    <div>

    <div class="dialog" id="success">
        <img class="dialog" src="/assets/success.svg"/>
        <p>Erfolgreich!</p>
        <div class="buttons">
            <img class="button" onclick="createPDF()" src="/assets/document.svg"/>
            <img class="button" onclick="hide('success')" src="/assets/photo.svg"/>
        </div>
    <div>

    <div onclick="hide('successDoc')" class="dialog" id="successDoc">
        <img class="dialog" src="/assets/success.svg"/>
        <p>Erfolgreich!</p>
    <div>

    <div onclick="hide('failed')" class="dialog" id="failed">
        <img class="dialog" src="/assets/failed.svg"/>
        <p>Fehlgeschlagen!</p>
        <p id="failedCause"></p>
        <p id="failedStatus"></p>
    <div>

  </body>
</html>